<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434991543803-7mged383qh0hth5qulhndur3qvr9ccrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434991543803-7mged383qh0hth5qulhndur3qvr9ccrh</string>
	<key>API_KEY</key>
	<string>AIzaSyDBOJYvrNNtZ4MJPC9P7qOwXyathpAYaGY</string>
	<key>GCM_SENDER_ID</key>
	<string>434991543803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TSG.Instagram</string>
	<key>PROJECT_ID</key>
	<string>socialapp-7a4cb</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-7a4cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434991543803:ios:c0c60886b3a63c2a7fc75e</string>
	<key>DATABASE_URL</key>
	<string>https://socialapp-7a4cb.firebaseio.com</string>
</dict>
</plist>